<h1><b>My Awesome List</b></h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Tag</th>
      <th scope="col">URL</th>
      <th scope="col">Description</th>
      <th colspan="2" scope="col" style="text-align: center;">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tag of tags">
      <th scope="row">{{tag.tag}}</th>
      <td>{{tag.url}}</td>
      <td>{{tag.descriptions}}</td>
      <td>
        <button type="button" class="btn btn-danger" (click)="deleteTag(tag.id)" >Delete</button>
      </td>
      <td>
        <button type="button" class="btn btn-warning" routerLink="/tag-detail/{{tag.id}}">Update</button>
      </td>
    </tr>
  </tbody>
</table>
